$primary: #30cbe8;
$primary-variant: #D5FEFE;
$secondary: #FF4430;
$grey: #3A4A4D;
$white: #FFFFFF;

:export {
  primary: $primary;
  primaryVariant: $primary-variant;
  secondary: $secondary;
  grey: $grey;
  neutralWhite: $white;
}
