$primary: #30cbe8;
$primary-variant: #d5fefe;
$secondary: #ff4430;
$grey: #3a4a4d;
$white: #ffffff;

:export {
    primary: $primary;
    primaryVariant: $primary-variant;
    secondary: $secondary;
    grey: $grey;
    neutralWhite: $white;
}
