@use "dg.Shadow.module" as shadow;
@use "dg.Colors.module" as colors;

.container {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: shadow.$shadow-primary;
    color: colors.$white;
    position: relative;
}

.image {
    border-radius: 24px;
}
