@use "dg.Colors.module" as colors;

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.attributionText {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: colors.$grey;
}
